
<app-navbar></app-navbar>
<div class="contact-container">
    <h1>Contactez-moi</h1>
  
    <div class="contact-info">
      <p><strong>Email :</strong> <a href="mailto:lokangagaston@gmail.com">lokangagaston&#64;gmail.com</a></p>
      <p><strong>Téléphone :</strong> <a href="tel:+243828088206">+243 828 088 206</a></p>
      <p><strong>LinkedIn :</strong> <a href="https://linkedin.com/in/gastonmanga" target="_blank">Mon profil</a></p>
    </div>
  
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <label for="name">Nom</label>
      <input id="name" formControlName="name" type="text" placeholder="Votre nom">
      <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
        <small>Le nom est requis (3 caractères min).</small>
      </div>
  
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" placeholder="Votre email">
      <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
        <small>Email valide requis.</small>
      </div>
  
      <label for="message">Message</label>
      <textarea id="message" formControlName="message" rows="4" placeholder="Votre message"></textarea>
      <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
        <small>Message requis (10 caractères min).</small>
      </div>
  
      <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
    </form>
  </div>
  